*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
/* UTILITY */
.center{
    display: flex;
    justify-content: center;
}
.bordi{
    border: none;
    border-radius: 25px;
}

/* INIZIO HEADER */
li{
    list-style: none;
    padding: 5px;
    color: white;
}
.login{
    padding: 1%;
    text-align: center;
}
#sfondo{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
}
nav{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-inline: 20%;
    display: flex;
    justify-content: space-between;
}
.testo{
    min-height: 20px;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 2%;
    color: white;
    text-align: center;
}
.mac{
    padding: 1%;
    text-align: center;
}
.apri{
    padding: 1%;
    text-align: center;
    color: white;
    background-color: rgb(22, 21, 21);
}
.bottoni{
    padding-bottom: 15%;
}
/* FINE HEADER */

/* INIZIO MAIN */

section{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-inline: 20%;
}
.immagine{
    width: 70%;
    min-height: 200px;
    margin-right: 5%;
}
.contenuto{
    width: 30%;
    min-height: 200px;
    padding-left: 5%;
    padding-top: 5%;
    text-align: left;
}
.immagine-dex{
    width: 50%;
    min-height: 200px;
}
.onda{
    height: 150px;
    width: 100%;
    opacity: 0.2;
}
.reverse{
    height: 150px;
    opacity: 0.2;
    width: 100%;
    transform: rotate(180deg);
}
.grey{
    margin-top: -4px;
    background-color: rgb(0, 0, 0, 0.2);
    min-height: 400px;
}
.text-fin{
    display: flex;
    flex-direction: column;
    margin-inline:30%
}
.img-fin{
    display: block;
}
.avventura{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.star{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}
h3{
    display: inline-block;
}
.bot-avv{
    padding: 1%;
    text-align: center;
    background-color: rgb(64,78,237);
}
/* UTILITY MAIN */

.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
p{
    font-size: 15px;
}
h2{
    font-size: 30px;
    line-height: 35px;
}


/* FOOTER */
.nero{
    background-color: rgb(36,39,44);
    padding-top: 1%;
    padding-bottom: 2%;
}

/* LISTE CON LINK INFORMATIVI */
.slot-1{
    width: calc(100%/4);
    min-height: 200px;
    color: white;
    padding-right: 5%;
}
#titolo-slot{
    color: rgb(64,78,237);
}
.bandiera{
    max-width: 20px;
}
.logo{
    border: 1px solid white;
    min-height: 20px;
    width: 5%;
    margin-inline: 2%;
}
.cont{
    display: flex;
    flex-direction: row;
}
.cyan{
    width: calc(100%/6);
    min-height: 200px;
}
.titolo-slot{
    color: rgb(64,78,237);
}

/* FINALE DELLA PAGINA */

hr{
    margin: 20px 20%;
}
.ending{
    margin-inline: 20%;
    display: flex;
    justify-content: space-between;
}